.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

.nav a {
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 4px;
  border-radius: 6px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav a:hover {
  transform: translateY(-1px);
}
