.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(194, 194, 194, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s opacity;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalBox {
  background-color: #fff;
  width: 400px;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.336);
  display: flex;
  justify-content: center;
  align-items: center;
}