@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #000a10;
  --text-color: white;
  --main-color: #0077ff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  background-color: aquamarine;
}

.navbar {
  /* default styles */
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.navbar.open {
  /* styles when menu is open */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 1200px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }

  .menuIcon{
    display: none;
  }
}
