@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: center; /* horizontal */
  align-items: flex-start;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 231, 231, 0.849);
  width: 100vw;
  min-height: 100vh;
  border-radius: 6px;
}

.header {
  background-color: #003490;
  color: aliceblue;
  padding: 10px;
  position: sticky;
  top: 0;
  border-radius: 0 0 80px 0;
  z-index: 10;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: aliceblue;
}

.menu Button:hover .icon {
  color: #ccc;
}

.header input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.filter p {
  padding: 6px 0 0 0;
  margin-left: 10px;
}

.filter select {
  width: 160px;
  padding: 6px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
}

.noTask {
  text-align: center;
  font-size: 1.4em;
}

.todoItem {
  background-color: rgb(245, 245, 245);
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 20px auto;
  border-radius: 6px;
}

.todoItem button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.todoItem > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todoItem > div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.category {
  font-size: 0.75em;
  font-weight: 500;
  border-radius: 999px; /* 🔥 pill shape */
  display: inline-block;
}

.category.Personal {
  color: #4caf50;
}

.category.Work {
  color: #2196f3;
}

.category.Chores {
  color: #ff9800;
}

.checkbox {
  transform: scale(1.4);
  accent-color: #1d8f30;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 5px;
}

.delete {
  color: #c00000;
  font-size: 1.3em;
  transition: 0.2s;
}

.delete:hover {
  color: #900000;
}

.content {
  flex: 1; /* 🔥 pushes button to bottom */
}

.createTodo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.add {
  color: aliceblue;
  background-color: #2b59c3;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.add:hover {
  color: #ccc;
}

.addButton {
  position: fixed;
  height: 40vh;
  width: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.addButton input {
  width: 100%;
  padding: 15px 5px;
  background-color: #dfdfdf;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}

.addButton select {
  padding: 8px;
  border: none;
  background-color: #dfdfdf;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #2b59c3;
  color: aliceblue;
  padding: 8px 16px;
  border: none;
  box-shadow: 2px 2px 5px #e6e6e6;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
}

.saveButton:active {
  background-color: #2b59c3ce;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 12px;

  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.closeButton:hover {
  color: #c00000;
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
}
