body {
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
  height: 100vh;
}

.app {
  background-color: rgb(255, 253, 240);
  width: 60vw;
  height: 80vh;
  padding: 20px;
  border-radius: 6px;
}

.todoItem {
  display: flex;
  gap: 10px;
}

.addButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
}
