@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: center; /* horizontal */
  align-items: flex-start;
}

.app {
  display: flex;
  flex-direction: column;

  background-color: rgba(231, 231, 231, 0.849);
  width: 90vw;
  min-height: 100vh;
  border-radius: 6px;
}

.header {
  background-color: #003490;
  color: aliceblue;
  padding: 10px;
  position: sticky;
  top: 0;
  border-radius: 0 0 30px 0;
  z-index: 10;
}

menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu Button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: aliceblue;
}

.menu Button:hover .icon {
  color: #ccc;
}

.header input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.todoItem {
  background-color: rgb(245, 245, 245);
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin: 20px 10px;
  border-radius: 6px;
}

.todoItem button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.todoItem div {
  display: flex;
  align-items: center;
  gap: 10px; /* cleaner spacing */
}

.checkbox {
  transform: scale(1.4);
  accent-color: #1d8f30;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 5px;
}

.delete {
  color: #c00000;
  font-size: 1.3em;
  transition: .2s;
}

.delete:hover {
  color: #900000;
}

.content {
  flex: 1; /* 🔥 pushes button to bottom */
}

.createTodo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.add {
  color: aliceblue;
  background-color: #2b59c3;

  width: 60px;
  height: 60px;

  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  transition: .2s;
}

.add:hover {
  color: #ccc;
}
