.projects {
  padding: 2% 4%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects h2 {
  font-size: 3rem;
  color: var(--subtitle-color);
  margin-bottom: 2rem;
}

.cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
  padding: 2% 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
  border-radius: 8px;
  gap: 1rem;
  transition: all 0.3s ease;
}

.card:hover{
  box-shadow: 0px 2px 12px rgba(99, 99, 99, 0.4);
}

.card img {
  width: 90%;
  height: 60%;
}

@media (min-width: 1200px) {
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 30%;
    margin: 0 2%;
  }
}
